:root {
    --primary: #0D6EFD;
    --primary-100: #1A82FF;
    --primary-200: #4D9EFF;
    --primary-300: #80BBFF;

    --secondary: #D97706;
    --secondary-100: #E0892B;
    --secondary-200: #F1A14D;
    --secondary-300: #FBC288;

    --gray-1: #1E1E1E;
    --gray-2: #5A5A5A;
    --gray-3: #B0B0B0;

    --black: #121212;
    --white: white;

    --red: #B91C1C;
    --red-200: #F87171;

    --yellow: #EAB308;
    --yellow-200: #FDE047;

    --orange: #F97316;
    --orange-200: #FDBA74;

    --green: #16A34A;
    --green-200: #86EFAC;

    --shadow-settings-1: 0px 4px 12px #00000055;
}

@font-face {
    font-family: "poppins-bold";
    src: url(/fonts/poppins-bold.ttf);
}
@font-face {
    font-family: "poppins-light";
    src: url(/fonts/poppins-light.ttf);
}
@font-face {
    font-family: "poppins-medium";
    src: url(/fonts/poppins-medium.ttf);
}
@font-face {
    font-family: "poppins-regular";
    src: url(/fonts/poppins-regular.ttf);
}

html, body {
    font-family: "poppins-regular", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}