:root {
    --primary: #5F6EFF;

    --gray-1: #222A35;
    --gray-2: #444D5A;
    --gray-3: #d5dde9;
    --black: #14171F;

    --white: #ffff;

    --red: #ff4949;

    --shadow-settings-1: 0 0 5.4px #3d3e41cf;
}

*, *::after, *::before {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "poppins-bold";
    src: url(/fonts/poppins-bold.ttf);
}
@font-face {
    font-family: "poppins-light";
    src: url(/fonts/poppins-light.ttf);
}
@font-face {
    font-family: "poppins-medium";
    src: url(/fonts/poppins-medium.ttf);
}
@font-face {
    font-family: "poppins-regular";
    src: url(/fonts/poppins-regular.ttf);
}

html, body {
    font-family: "poppins-regular", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

h1, h2, h3, h4 {
    font-weight: normal;
}

button {
    border: unset;
    background-color: transparent;
    color: var(--primary);
    /*box-shadow: 0 0 4px #8a91dc;*/
    
    border-radius: 10px;
    font-size: 1.1em;
    padding: .5em 1em;
    width: fit-content;

    transition: all .5s ease;

    cursor: pointer;

    display: block;

    font-family: "poppins-regular",sans-serif;

    &.primary {
        background-color: var(--primary);
        color: var(--white);
    }

    &:disabled {
        opacity: .5;
        cursor: unset;
    }
}